version: "3.9"
name: life-tracker-dev

services:
  # databases
  postgresql:
    image: postgres:16
    container_name: postgres_container
    ports:
      - 5432:5432
    networks:
      - life-tracker-dev-network
    volumes:
      - postgres_data:/var/lib/postgresql/data
    secrets:
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD
    environment:
      POSTGRES_DB_FILE : /run/secrets/POSTGRES_DB
      POSTGRES_USER_FILE : /run/secrets/POSTGRES_USER
      POSTGRES_PASSWORD_FILE : /run/secrets/POSTGRES_PASSWORD
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $(cat /run/secrets/POSTGRES_USER) -d $(cat /run/secrets/POSTGRES_DB)"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:8.2
    container_name: pgadmin_container
    ports:
      - "127.0.0.1:80:80"
    networks:
      - life-tracker-dev-network
    secrets:
      - PGADMIN_DEFAULT_EMAIL
      - PGADMIN_DEFAULT_PASSWORD
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
      PGADMIN_LISTEN_ADDRESS: 0.0.0.0
      PGADMIN_LISTEN_PORT: 80
    depends_on:
      postgresql:
        condition: service_healthy
        required: true
        restart: true
    restart: unless-stopped

  redis:
    image: redis:8.6-alpine
    container_name: redis_container
    # ports are exposed only for development
    ports:
      - 6379:6379
    networks:
      - life-tracker-dev-network
    volumes:
      - ./redis_data:/data
    secrets:
      - REDIS_PASSWORD
    command: >
      sh -c "
      redis-server
      --requirepass \"$(cat /run/secrets/REDIS_PASSWORD)\"
      --appendonly yes
      --maxmemory 256mb
      --maxmemory-policy allkeys-lru
      "
    healthcheck:
      test: ["CMD-SHELL", "redis-cli -a $(cat /run/secrets/REDIS_PASSWORD) ping | grep PONG"]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped
# backend
  fastapi:
    build:
      context: ./backend/
      dockerfile: Dockerfile
    container_name: fastapi_backend
    ports:
      - 8000:8000
    networks:
      - life-tracker-dev-network
    volumes:
      - ./backend:/app:cached
    environment:
      APP_ENV : DEVELOPMENT
      LOG_LEVEL : DEBUG
    secrets:
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - JWT_SECRET_KEY
      - REDIS_PASSWORD
    depends_on:
      postgresql:
        condition: service_healthy
        required: true
        restart: true
      redis:
        condition: service_healthy
        required: true
        restart: true
    restart: unless-stopped

volumes:
  postgres_data:
networks:
  life-tracker-dev-network:
secrets:
  POSTGRES_DB:
    environment: POSTGRES_DB
  POSTGRES_USER:
    environment: POSTGRES_USER
  POSTGRES_PASSWORD:
    environment: POSTGRES_PASSWORD
  PGADMIN_DEFAULT_EMAIL:
    environment: PGADMIN_DEFAULT_EMAIL
  PGADMIN_DEFAULT_PASSWORD:
    environment: PGADMIN_DEFAULT_PASSWORD
  JWT_SECRET_KEY:
    environment: JWT_SECRET_KEY
  REDIS_PASSWORD:
    environment: REDIS_PASSWORD